#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --mirrorlist="http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_SG.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$9.FoNeLCZ7cxbmxp$dubvxsYPeEPwT7aYtmOkaTtBCV540UV/kLCMOOgLAdHnu/kWiyQsKivmanpMXujn6G8qwLF7OlKVYb0uabvFV1
# System timezone
timezone Asia/Singapore --isUtc
user --groups=wheel --name=vagrant --password=$6$DIWjDT/pb3OFYqVu$ecYRA2zXWCXQ5o1bMDfq2cLXc2lqy3SIB1VKsxU1mjZ6SQiEyBNaRF7CoNXw8n5TuJ4JkmmgEp.wVjtGCr8.61 --iscrypted --gecos="Vagrant"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^gnome-desktop-environment
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
